@font-face {
    font-family: 'OldLondon';
    src: url('fonts/OldLondon.ttf') format('truetype');
    src: url('fonts/OldLondonAlternate.ttf') format('truetype');
}

@font-face {
    font-family: 'JMH-Beda';
    src: url('fonts/JMH\ Beda.ttf') format('truetype');
}

@font-face {
    font-family: 'JMH-Typewriter';
    src: url('fonts/JMH\ Typewriter.ttf') format('truetype');
    src: url('fonts/JMH\ Typewriter-Black.ttf') format('truetype');
    src: url('fonts/JMH\ Typewriter-Bold.ttf') format('truetype');
    src: url('fonts/JMH\ Typewriter-Thin.ttf') format('truetype');
}

body {
    background-image: url("img/wood-texture.png");
    font-family: 'JMH-Typewriter';
    margin: 0;
}

footer {
    background: #ccc;
    width: 100%;
    padding-top: 50px;
    height: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* 
Enigme 1*/

.enigme1 img {
    margin-top: 60px;
    width: 100vw;
}

.enigme1 a, .enigme1 button {
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    background: none;
    font-family: 'JMH-Typewriter';
    border: none;
}

button:hover {
    cursor: pointer;
}




/* 
Enigme 2*/

.journal {
    width: 100%;
    margin-top: 40px;
    z-index: -1;
}

#dialogue2 {
    position: fixed;
    top: 400px;
    width: 90%;
}


/* 
Enigme 3*/

.article {
    width: 100%;
}

#enigme3 {
    width: 90%;
}


/* 
Enigme 4*/

.enigme4 img {
    margin-top: 80px;
}
.dialogue {
    width: 90%;
    height: auto;
    margin-left: 5%;
}


/* 
Enigme 5*/

.herbier {
    width: 100%;
}

#button-container {
    display: flex;
    flex-direction: row;
}

#button-container button {
    color: #fefefe;
    margin-top: 0;
}

#reveal {
    color: #fefefe;
    text-align: center;
}

#dialogue5 {
    margin-top: 100px;
}

.mySlides {
    display: none;
  }



/* 
 fenetre */

.fenetre {
    width: 90%;
    margin-bottom: 100px;
    margin-top: 50px;
}